<div class="container">
    <div class="jumbotron py-3 mt-5 h-50 text-center">
        <h2 class="">Información:</h2>
        <ul class="list-group list-group-numbered">
            <li class="list-group-item">Argumentos de entrada:<br>{{info.args}}</li>
            <li class="list-group-item">Nombre de la plataforma (sistema operativo):<br> {{info.platform}}</li>
            <li class="list-group-item">Versión de node.js:<br> {{info.version}}</li>
            <li class="list-group-item">Memoria total reservada (rss):<br> {{info.memory}}</li>
            <li class="list-group-item">Path de ejecución:<br> {{info.path}}</li>
            <li class="list-group-item">Process id:<br> {{info.pid}}</li>
            <li class="list-group-item">Carpeta del proyecto:<br> {{info.folder}}</li>
        </ul>
    </div>
</div>
